body
{
    background-color: #99CCCC;
}

tr :hover
{
    background-color: blueviolet;
}

.dropdown-menu .dropdown-item:hover
{
    background-color: red;
    color: white;
    font-weight: 500;
}

.img_about{
    position:absolute;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    overflow: hidden;
    margin-left: 20%;
  }